.gbook-view {
    text-align: center;
}

.gbook-title {
    text-align: left;
    padding: 5px;
    font-weight: bold;
}

.gbook-entry {
    text-align: left;
    padding: 5px;
}

.gbook-note {
    font-style: italic;
    text-align: left;
    padding: 10px;
    font-size: x-small;
    line-height: 1.2em;
}

.gbook-sign {
    text-align: left;
    padding: 5px;
}
